.vex-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--vex-spacing-2);
  padding: 0 var(--vex-spacing-2);
  box-sizing: border-box;
  width: max-content;
  white-space: nowrap;

  &-dot {
    width: 6px;
    height: 6px;
    border-radius: 9999px;
    background-color: currentColor;
  }
}

.vex-tag-size-sm {
  height: 1rem;
  font-size: var(--vex-font-size-xs);
}
.vex-tag-size-md {
  height: 1.5rem;
  font-size: var(--vex-font-size-sm);
}
.vex-tag-size-lg {
  height: 1.75rem;
  font-size: var(--vex-font-size-md);
}