.vex-alert {
  display: grid;
  position: relative;
  grid-template-areas:
    'icon header'
    'icon content';
  align-items: flex-start;
  gap: var(--vex-spacing-2);
  padding: var(--vex-spacing-4);
  border-radius: var(--vex-border-radius-sm);
  border-inline-start: 3px solid currentColor;
}

//------ icon ------//

.vex-alert-icon {
  grid-area: icon;
}

//------ header ------//

.vex-alert-header {
  grid-area: header;
  font-weight: 500;
  font-size: var(--vex-font-size-md);
}

//------ content ------//

.vex-alert-content {
  grid-area: content;
  font-size: var(--vex-font-size-sm);
  margin: 0;
  padding: 0;
}

//------ close button ------//

.vex-alert-close {
  all: unset;
  cursor: pointer;
  position: absolute;
  inset-block-start: var(--vex-spacing-2);
  inset-inline-end: var(--vex-spacing-2);
}

//------ variants ------//

.vex-alert.--variant-danger {
  background-color: var(--vex-clr-danger-100);
  color: var(--vex-clr-danger-500);
}

.vex-alert.--variant-warning {
  background-color: var(--vex-clr-warning-100);
  color: var(--vex-clr-warning-500);
}

.vex-alert.--variant-success {
  background-color: var(--vex-clr-success-100);
  color: var(--vex-clr-success-500);
}

.vex-alert.--variant-info {
  background-color: var(--vex-clr-info-100);
  color: var(--vex-clr-info-500);
}

.vex-alert.--variant-plain {
  background-color: var(--vex-clr-plain-100);
  color: var(--vex-clr-plain-500);
}