.vex-menu-content {
  padding: var(--vex-spacing-2px);
  filter: var(--vex-drop-shadow-sm);
  border-radius: var(--vex-border-radius-sm);
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  outline: none;
}

@layer base {
  .vex-menu-content.--auto-min-width {
    min-width: var(--vex-auto-min-width);
  }
}

.vex-menu-item {
  position: relative;
  height: var(--vex-spacing-6);
  padding-inline: var(--vex-spacing-7) var(--vex-spacing-2);
  font-size: var(--vex-font-size-xs);
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--vex-spacing-4);
  outline: none;

  &.--is-trigger {
    padding-inline-end: var(--vex-spacing-7);
  }

  &:hover {
    background-color: var(--vex-c-neutral-100);
  }

  &:focus-visible,
  &.--focused,
  &.--open.--is-trigger {
    background-color: var(--vex-c-neutral-200);
  }

  &:disabled {
    opacity: 50%;
  }

  &-check,
  &-chevron {
    aspect-ratio: 1/1;
    height: 100%;
    position: absolute;
    inset-block-start: 0;
    flex: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    & > svg {
      width: var(--vex-spacing-3);
      height: var(--vex-spacing-3);
    }
  }

  &-check {
    inset-inline-start: 0;
    color: var(--vex-c-neutral-400);
  }

  &-chevron {
    inset-inline-end: 0;
    color: var(--vex-c-neutral-900);
  }
}

.vex-t-menu-enter-active,
.vex-t-menu-leave-active {
  transition: opacity 300ms ease;
  pointer-events: none;
}

.vex-t-menu-enter-from,
.vex-t-menu-leave-to {
  opacity: 0;
}
