.vex-tab-wrapper {
  position: relative;
  height: 48px;
  padding: var(--vex-spacing-1);
  border-radius: var(--vex-border-radius-sm);
  background-color: var(--vex-clr-neutral-200);
}

.vex-tab {
  padding-inline: var(--vex-spacing-4);
  color: var(--vex-on-surface-muted);
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 150ms;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.vex-tab.vex-tab-selected {
  color: var(--vex-text-clr-default);
}

.vex-tab-pointer {
  position: absolute;
  z-index: 1;
  bottom: 4px;
  height: calc(100% - 8px);
  background-color: white;
  transition-property: left, width;
  transition-duration: 300ms;
  transition-timing-function: var(--vex-transition-easing);
  border-radius: var(--vex-border-radius-sm);
}
