.vex-dialog {
  all: unset;
  position: fixed;
  z-index: 9999;
  inset: 0;
  margin: auto;
  padding: var(--vex-spacing-4);
  max-width: calc(100vw - 4rem);
  max-height: calc(100vh - 4rem);
  width: fit-content;
  height: fit-content;
  overflow: auto;
  background-color: white;
  border: none;
  border-radius: var(--vex-border-radius-sm);

  &-blur {
    &::backdrop {
      backdrop-filter: blur(2px);
    }
  }
}

.vex-t-dialog {
  &-enter-active,
  &-leave-active {
    transition: opacity 150ms;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}