.vex-toast-item {
  height: 2rem;
  border-radius: var(--vex-border-radius-sm);
  font-size: var(--vex-font-size-sm);
  padding: 0 var(--vex-spacing-3);
  display: flex;
  align-items: center;
  gap: var(--vex-spacing-2);
  filter: var(--vex-drop-shadow-sm);
  background-color: white;
  pointer-events: auto;
}