:root {
  /* border */

  --vex-border-radius-sm: 4px;
  --vex-border-radius-md: 8px;
  --vex-border-radius-lg: 16px;
  --vex-border-radius-square: 0px;
  --vex-border-radius-rounded: 99999px;

  --vex-border-clr-base: var(--vex-clr-neutral-200);
  --vex-border-clr-active: var(--vex-clr-primary-400);

  /* colors */

  --vex-clr-neutral-50: #fafafa;
  --vex-clr-neutral-100: #f5f5f5;
  --vex-clr-neutral-200: #e5e5e5;
  --vex-clr-neutral-300: #d4d4d4;
  --vex-clr-neutral-400: #a3a3a3;
  --vex-clr-neutral-500: #737373;
  --vex-clr-neutral-600: #525252;
  --vex-clr-neutral-700: #404040;
  --vex-clr-neutral-800: #262626;
  --vex-clr-neutral-900: #171717;

  /* surfaces */

  --vex-clr-primary-500: var(--vex-clr-neutral-700);
  --vex-clr-primary-400: var(--vex-clr-neutral-900);
  --vex-clr-primary-300: var(--vex-clr-neutral-300);
  --vex-clr-primary-200: var(--vex-clr-neutral-200);
  --vex-clr-primary-100: var(--vex-clr-neutral-100);

  /*   --vex-clr-primary-500: #4c1d95;
  --vex-clr-primary-400: #7c3aed;
  --vex-clr-primary-300: #c4b5fd;
  --vex-clr-primary-200: #ddd6fe;
  --vex-clr-primary-100: #ede9fe; */

  --vex-clr-danger-500: #b91c1c;
  --vex-clr-danger-400: #da2030;
  --vex-clr-danger-300: #f87171;
  --vex-clr-danger-200: #f9cdcd;
  /* TODO: this color is too bright its basically white */
  /* --vex-clr-danger-100: #fef8f2; */
  --vex-clr-danger-100: #f9cdcd;

  /* 400 on white is not accessible */
  --vex-clr-warning-500: #92400e;
  --vex-clr-warning-400: #f59e0b;
  --vex-clr-warning-300: #fcd34d;
  --vex-clr-warning-200: #fef08a;
  --vex-clr-warning-100: #fef3c7;

  --vex-clr-success-500: #166534;
  --vex-clr-success-400: #22c55e;
  --vex-clr-success-300: #86efac;
  --vex-clr-success-200: #bbf7d0;
  --vex-clr-success-100: #dcfce7;

  --vex-clr-info-500: #4c1d95;
  --vex-clr-info-400: #7c3aed;
  --vex-clr-info-300: #c4b5fd;
  --vex-clr-info-200: #ddd6fe;
  --vex-clr-info-100: #ede9fe;

  /* TODO: refactor */
  --vex-clr-plain-500: var(--vex-clr-neutral-700);
  --vex-clr-plain-400: var(--vex-clr-neutral-900);
  --vex-clr-plain-300: var(--vex-clr-neutral-300);
  --vex-clr-plain-200: var(--vex-clr-neutral-200);
  /* TODO: this color is too bright its basically white */
  --vex-clr-plain-100: var(--vex-clr-neutral-100);

  --vex-surface-disabled: #1d1b1e1f;
  --vex-surface-base: #fff;

  --vex-clr-disabled: #1d1b1e1f;
  --vex-clr-on-disabled: #1d1b1e61;

  /* text */

  --vex-text-clr-primary: var(--vex-clr-primary-400);
  --vex-text-clr-danger: var(--vex-clr-danger-400);
  --vex-text-clr-warning: var(--vex-clr-warning-400);
  --vex-text-clr-success: var(--vex-clr-success-400);
  --vex-text-clr-info: var(--vex-clr-info-400);
  --vex-text-clr-default: var(--vex-clr-neutral-900);
  /* TODO: this color does not pass contrast ratio on white bg */
  --vex-text-clr-muted: #9ca3af;

  --vex-font-size-xs: 0.75rem;
  --vex-font-size-sm: 0.875rem;
  --vex-font-size-md: 1rem;
  --vex-font-size-lg: 2rem;

  --vex-clr-on-background: black;
  --vex-on-surface-primary: white;
  --vex-on-surface-base: black;
  /* TODO: this color does not pass contrast ratio on white bg */
  --vex-on-surface-muted: #9ca3af;
  --vex-on-surface-disabled: #1d1b1e61;

  /* box-shadow */

  --vex-box-shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
  --vex-box-shadow-md: 0 1px 6px 0px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --vex-box-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --vex-shadow-dropdown: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  /* drop-shadow */

  --vex-drop-shadow-sm: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
  --vex-drop-shadow-md: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));

  /* transition */

  --vex-transition-easing: cubic-bezier(0.4, 0, 0.2, 1);

  /* spacing */

  --vex-spacing-1: 0.25rem;
  --vex-spacing-2: 0.5rem;
  --vex-spacing-3: 0.75rem;
  --vex-spacing-4: 1rem;
  --vex-spacing-5: 1.5rem;
  --vex-spacing-6: 2rem;
  --vex-spacing-7: 3rem;
  --vex-spacing-8: 4rem;
  --vex-spacing-9: 6rem;
  --vex-spacing-10: 8rem;
}

* {
  box-sizing: border-box;
}

.vex-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.vex-cursor-pointer {
  cursor: pointer;
}

.vex-ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  animation: vex-ripple 600ms linear;
  pointer-events: none;
}

@keyframes vex-ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.vex-fade-enter-active,
.vex-fade-leave-active {
  transition: opacity 300ms ease;
  pointer-events: none;
}

.vex-fade-enter-from,
.vex-fade-leave-to {
  opacity: 0;
}

:not(body, html, vex-default-scrollbar)::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

:not(body, html, vex-default-scrollbar)::-webkit-scrollbar:hover {
  background-color: var(--vex-clr-neutral-100);
}

:not(body, html, vex-default-scrollbar)::-webkit-scrollbar-thumb {
  width: 4px;
  height: 4px;
  background-color: var(--vex-clr-neutral-300);
  border-radius: 99px;
}

.vex-overflow-hidden {
  overflow: hidden;
}
