.vex-accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--vex-c-neutral-900);
  border-radius: var(--vex-border-radius-sm);
}

//------ variant default ------//

.vex-accordion.--variant-default {
  gap: var(--vex-spacing-1);

  .vex-accordion-trigger-button:enabled:hover {
    background-color: var(--vex-c-neutral-100);
  }
  .vex-accordion-item.--expanded {
    background-color: var(--vex-c-neutral-100);
  }
}

//------ variant ladder ------//

.vex-accordion.--variant-ladder {
  .vex-accordion-item {
    border-bottom-color: var(--vex-c-neutral-200);
  }

  .vex-accordion-trigger-button:enabled:hover {
    background-color: var(--vex-c-neutral-100);
  }
}

//------ variant outline ------//

.vex-accordion.--variant-outline {
  border: 1px solid var(--vex-border-clr-base);

  .vex-accordion-item ~ .vex-accordion-item {
    border-top-color: var(--vex-border-clr-base);
  }
  .vex-accordion-trigger-button:enabled:hover {
    background-color: var(--vex-c-neutral-100);
  }
}

//------ variant light ------//

.vex-accordion.--variant-light {
  gap: var(--vex-spacing-2);

  .vex-accordion-item {
    background-color: var(--vex-c-neutral-100);
  }
  .vex-accordion-item.--expanded {
    background-color: white;
    border-color: var(--vex-border-clr-base);
  }
}

//------ item ------//

.vex-accordion-item {
  transition-property: color, background-color, border-color, outline-color;
  transition-timing-function: var(--vex-transition-easing);
  transition-duration: 150ms;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: var(--vex-border-radius-sm);
}

//------ trigger ------//

.vex-accordion-trigger {
  font-size: var(--vex-font-size-sm);
  border-radius: var(--vex-border-radius-sm);
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: var(--vex-spacing-4);
}

.vex-accordion-trigger-button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: var(--vex-spacing-4);
  width: 100%;
  padding: var(--vex-spacing-3) var(--vex-spacing-4);
  cursor: pointer;
  text-align: start;
  background-color: transparent;

  &:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  &:focus-visible {
    outline: 1px solid var(--vex-c-primary-500);
  }
}

.vex-accordion-chevron {
  flex: none;
  transition: transform 300ms var(--vex-transition-easing);
  width: 16px;
  height: 16px;

  &.--position-end {
    margin-inline-start: auto;
  }

  .vex-accordion-item.--expanded & {
    transform: rotate(45deg);
  }
}

//------ content ------//

.vex-accordion-content {
  will-change: height;
  font-size: var(--vex-font-size-sm);

  & > div {
    padding: var(--vex-spacing-1) var(--vex-spacing-4) var(--vex-spacing-3) var(--vex-spacing-4);
  }
}
